body {
    font-family: arial; 
}

.single_modules {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 10px;
    padding: 10px;
    height: 120px;
    width:160px;
}
.single_module_report {
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 10px;
    padding: 10px;
    height: 120px;
    width:160px;
}
.navbar a {
    text-decoration: none;
}
.style_metro_color {
    background: #0275d8;  
}
.style_metro_color:hover {
   background:#4a98d9;
   /*background: #FF0000;*/
}
.single_modules a, .single_modules span,.single_module_report a,.single_module_report span {
    color: white;
    font-family: arial;
    font-weight: normal;
    line-height: 25px;
}
.single_modules a,.single_module_report a {
    font-size: 18px;
}
.single_modules a:hover,.single_module_report a:hover {
    color: #f9f9f9;
    text-decoration: none;
}
.dropdown-menu a {
    font-size: 14px;
}
.account-wall {
    padding: 35px 0px 35px 0px;
    border:1px;
    border-color: lightgray;
    border-style:solid;
}
.row-padding-top {
    padding-top: 15px;
}
.row-padding-left-right {
    padding-left: 40px;
    padding-right: 40px;
}
.table-margin-left-right {
    margin-left:10px;
    margin-right:10px; 
}
.table-font-size {
    font-size:12px;
}
/*table, th, td {
    border: 1px solid black;
}*/
.required-span-text{
    color:red;
    font-size:14px;   
}
.home-image-width-height{
    width:35px;
    height: 25px;
}
.edit-delete-width-height{
    width:20px;
    height: 20px;
}
.scrollTable {
    overflow:scroll;
    height:400px;
}
.h5 {
  margin-left: 30px;
}
.table-max-height{
    max-height: 400px;
    overflow:auto;
}





