*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
h1,
h2{
    color: #4a98d9;
}
.side-menu{
    position: fixed;
    background: #132644;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.side-menu.brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu li{
    font-size: 24px;
    padding: 10px 40px;
    color: #eaeaea;
    display: flex;
    align-items: center;
}
.side-menu li:hover{
    background: #2b2b2b;
    color: chocolate;
}
.container{
    position: absolute;
    right: 0;
    width: 80vw;
    height: 20vh;
    background: #585858;
}
.container.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    height: 10vh;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container.header.nav{
    width: 90%;
    display: flex;
    align-items: center;
}

